h1{
    color: palevioletred;
    background-color: beige;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    transition: 3s;
    transition-delay: 1s;
}

h1:hover{
    color: purple;
    background-color: aquamarine;
    border-radius: 50px;
    text-decoration: underline;
}